<h1><%= @user.full_name %></h1>

<div>
  <h3>Most liked photos</h3>
  <% User.most_liked(@user).each do |photo| %>
    <li><%=link_to image_tag(photo.image_url('thumb')), photo %></li>
  <% end %>
</div>

<div>
  <h3>Recent Comments</h3>
  <% User.recent_comments(@user).each do |comment| %>
    <li><%= comment.body %></li>
  <% end %>
</div>


