<h1>Globespinnr</h1>


<h3>Select a Country</h3>



  <div id='country'><%= select_tag :country, options_from_collection_for_select(@locations, 'id', 'name'), include_blank: true %></div>
  <div id='submit'><a href='#' class='button'>Go</a></div>

<script>
  var str = '';
  $('#country').change(function() {
    $('select option:selected').each(function() {
      str += $(this).val();
    });
  });


  $(document).ready(function() {
    $('#submit').click(function() {
      var path = $('#country').val();
      window.location.assign("/locations/" + str);
    });
  });


</script>
