<h1><%= @location.name %></h1>

<div id='photos'>
  <ul>
    <% @location.photos.each do |photo| %>
      <li><%=link_to image_tag(photo.image_url('thumb')), photo %></li>
    <% end %>
  </ul>
</div>

<p>
  <%= link_to 'Add Photo', new_location_photo_path(@location) %><br>
  <%= link_to 'Back', root_path %>
</p>
